@font-face {
  font-family: "Font";
  src: url("../assets/Font.otf");
}

body {
  background-color: rgb(66, 66, 66);
}

h1 {
  color: #e24a2b;
  font-family: "Font";
  font-size: 6rem;
  margin: 1rem;
}

.button2 {
  width: 10rem;
  height: 5rem;
  margin-top: 1rem;
  background-color: #e24a2b;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  color: whitesmoke;
  font-family: "Font";
}

.RandomResponse {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconResponse {
  font-size: 6rem;
}

.animate {
  animation-name: shake;
  animation-duration: 0.82s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
